<form method="POST">

    <p>
        <label for="titre">
            Titre
        </label>
        <input type="text" name="titre" id="titre" />
    </p>
    <p>
        <label for="resume">
            Résumé
        </label>
        <textarea name="resume" id="resume"></textarea>
    </p>
    <p>
        <label for="annee_sortie">
           Année de sortie
        </label>
        <input type="number" min="1900" max="2021" Step="1" name="annee_sortie" id="annee_sortie"></input>
    </p>
    <p>
        <label for="image_film">
        <input type="file" name="imageFilm" id="imageFilm">
    <p>
        <button type="submit">
            Enregistrer
        </buttom>
    </p>
</form>