

<form method="POST">

    <p>
        <label for="titre">
            titre
        </label>
        <input type="text" name="titre" id="titre" value="{{film.titre}}" />
    </p>


    <p>
        <button type="submit">
            Enregistrer
        </buttom>
    </p>
</form>