

<form method="POST">
    <p>
        <label for="nom">
            Nom
        </label>
        <input type="text" name="nom" id="nom" />
    </p>
    <p>
        <button type="submit">
            Enregistrer
        </buttom>
    </p>
</form>